<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Legalvise | Choose your Service</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/scrolling.css" rel="stylesheet">

  </head>

  <body id="page-top" class="bg-light">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark-trans fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><img class="logo" src="static/images/logo.png" alt="Legalvise Logo"/>Legalvise</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/appointmentList">My Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/accountInfo">My Account</a>
            </li>
            <li class="nav-item">
              <a style="background: green; border-radius: 10px;" class="nav-link js-scroll-trigger" href="https://qnamaker.ai/Edit/Test?kbId=675d6f7f-92f6-43a0-b62d-3c5c1525f2d6">Bot Chat</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bk-hero text-white">
	<img class="hero" src="static/images/gavel.png" alt="gavel and legal scale"/>
      <div class="container text-center">
        <h1 style="display:none;">Legalvise</h1>
	  </div>
        <p class="lead">Welcome, please choose a category that we can assist you</p>
    </header>
	
<!-- START COLORED BOXES AREA -->
<main id="collaboration" class="clear">
		<div class="colorboxsection">
			<div class="shaded-card flex-shift">
				<div>
					<h3>Estate</h3>
						<a class="button" href="/surveyStart">Schedule an Appointment</a>
						<a class="box-link" href="/surveyStart">Take an assessment</a>
						<ul class="attributes">
						<p>Description goes here</p>
							<li>Power of attorney</li>
							<li>Wills</li>
							<li>Trusts</li>
						</ul>		
						<a class="box-link" href="/surveyStart">Learn More</a>
				</div>
			</div>

			<div class="shaded-card flex-shift">
				<div>
					<h3>Family</h3>
						<a class="button" href="/surveyStart">Schedule an Appointment</a>
						<a class="box-link" href="/surveyStart">Take an assessment</a>
						<ul class="attributes">
						<p>Description goes here</p>
							<li>Adoption</li>
							<li>Divorce</li>
							<li>Child Support</li>
						</ul>		
						<a class="box-link" href="/surveyStart">Learn More</a>
				</div>
			</div>
			
			<div class="shaded-card flex-shift">
				<div>
					<h3>Criminal Defense</h3>
						<a class="button" href="/surveyStart">Schedule an Appointment</a>
						<a class="box-link" href="/surveyStart">Take an assessment</a>
						<ul class="attributes">
						<p>Description goes here</p>
							<li>Speeding/Reckless Driving</li>
							<li>Red Light/Stop Sign</li>
							<li>DUI/DWI</li>
							<li>Other</li>
						</ul>
						<a class="box-link" href="/surveyStart">Learn More</a>						
				</div>
			</div>
		</div>
</main>
<!-- END COLORED BOXES AREA -->


    <!-- Footer -->
    <!--<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Global Legal Hackathon 2018</p>
      </div>
      </footer>-->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>

  </body>

</html>
